version: 0.6.2.{build}
image: Visual Studio 2022
environment:
  CC: cl.exe
  CXX: cl.exe
  MSYS2_PATH_TYPE: inherit
  CHERE_INVOKING: yes
install:
- cmd: >-
    call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"

    appveyor DownloadFile "https://github.com/novomesk/downloads/raw/main/nasm-2.16.03-win64.zip" -FileName "nasm.zip"

    7z x "nasm.zip"

    move nasm-* NASM

    set PATH=%PATH%;%CD%\NASM;

    nasm -v

    cd 3rdparty

    mkdir build

    mkdir download

    mkdir install

    git clone --depth 1 -b stable https://code.videolan.org/videolan/x264.git

    c:\msys64\usr\bin\bash -lc "pacman --noconfirm -Syuu"

    c:\msys64\usr\bin\bash -lc "pacman --noconfirm -S make"

    cd x264

    c:\msys64\usr\bin\bash -lc "CC=cl ./configure --prefix='C:\projects\qt-heic-image-plugin\3rdparty\install' --disable-cli  --enable-static --disable-bashcompletion --disable-opencl --disable-interlaced  --bit-depth=8 --chroma-format=420 --disable-avs --disable-swscale --disable-lavf --disable-ffms  --disable-gpac --disable-lsmash"

    c:\msys64\usr\bin\bash -lc "make && make install"

    cd ..

    git clone --depth 1 -b v2.6.0 https://github.com/cisco/openh264.git

    cd openh264

    meson setup builddir --prefix C:\projects\qt-heic-image-plugin\3rdparty\install --buildtype release -Dtests=disabled

    meson compile -C builddir

    meson install -C builddir

    cd ../build

    cmake -G Ninja .. -DCMAKE_BUILD_TYPE=Release -DEXTERNALS_DOWNLOAD_DIR=C:/projects/qt-heic-image-plugin/3rdparty/download -DINSTALL_ROOT=C:/projects/qt-heic-image-plugin/3rdparty/install

    ninja

    cd ..\..
build_script:
- cmd: >-
    cd qtbuild_6.5.3

    C:\Qt\6.5.3\msvc2019_64\bin\qmake.exe qt-heic-image-plugin_win64.pro

    nmake.exe

    cd ../qtbuild_6.8.3

    C:\Qt\6.8.3\msvc2022_64\bin\qmake.exe qt-heic-image-plugin_win64.pro

    nmake.exe

    cd ../qtbuild_6.9.3

    C:\Qt\6.9.3\msvc2022_64\bin\qmake.exe qt-heic-image-plugin_win64.pro

    nmake.exe

artifacts:
- path: qtbuild_6.5.3\*.dll
- path: qtbuild_6.8.3\*.dll
- path: qtbuild_6.9.3\*.dll
- path: 3rdparty\install\bin\*.dll
